# Collect data

### Cesus dot gov

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
import time

# Import API key
from config import census_api_key

### NAICS codes table

    2012~ : there are sub categories
    Before 2012, the number of employeements is available in total, no sub categories.
   
    For sub category bar chart, data from 2012 will be displayed.
    
    For timeline chart, data from 1986, number of employ will be displayed.

In [2]:
# NAICS2017 codes and labels:  CBP data of 2017~2018 refer to NICS2017 table for business labels
url = "https://api.census.gov/data/2018/cbp/variables/NAICS2017.json"
result = requests.get(url).json()
naics_items = result["values"]["item"]
naics2017 = { ky: naics_items[ky] for ky in naics_items.keys() if len(ky)==2}

# NAICS2012 codes and labels : CBP data of 2012~2016 refer to NICS2012 table for business labels
url = "https://api.census.gov/data/2016/cbp/variables/NAICS2012.json"
result = requests.get(url).json()
naics_items = result["values"]["item"]
naics2012 = { ky: naics_items[ky] for ky in naics_items.keys() if len(ky)==2}

# Write the tables to json files
with open("naics2017.json", "w") as outfile:  
    json.dump(naics2017, outfile)

with open("naics2012.json", "w") as outfile:  
    json.dump(naics2012, outfile)

### County codes and names

In [3]:
# NC County names and codes
url = "https://api.census.gov/data/2018/cbp?get=NAME&for=county:*&in=state:37&key="+census_api_key
result = requests.get(url).json()

In [4]:
df = pd.DataFrame(result, columns=result[0])
county_df=df.drop(0).set_index("county").drop(["state"], axis=1)
county_df.head()

                                    NAME
county
079        Greene County, North Carolina
087       Haywood County, North Carolina
121      Mitchell County, North Carolina
041        Chowan County, North Carolina
045     Cleveland County, North Carolina

In [16]:
# Write the table to json file
#county_df.to_json("county_codes.json", orient="table", index=False)
county_df.to_json("county_codes.json", orient="columns")

## Set variables, url for API calls

In [5]:
# Check the NAICS codes which have only 2 digits

with open("naics2017.json", "r") as fileobj:  
    naics2017 = json.load(fileobj)

print(naics2017.keys())

with open("naics2012.json", "r") as fileobj:  
    naics2012 = json.load(fileobj)

print(naics2012.keys())

dict_keys(['00', '11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '95', '99'])
dict_keys(['00', '11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '95', '99'])

In [14]:
## Set a naics code query to restrict the API call only for 2-digit business codes
def set_naics_query(year):
    
    # The NAICES codes for higher level business
    NAICS_codes = ['00', '11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '95', '99']
    code_query = ""
    for code in NAICS_codes:
        if (year >= 2017):
            code_query += f'&NAICS2017={code}'
        elif (year >= 2012):
            code_query += f'&NAICS2012={code}'
    return code_query


## Set a url for given year to retrieve employee data for all counties.
def set_url(year):
    
    cbp_url = f'https://api.census.gov/data/{year}/cbp?get='
    
    ## The quary variables vary in years
    if (year >= 2017):
        variables = "NAME,EMP"
    elif (year >= 2012):
        variables = "GEO_TTL,EMP"
    elif (year > 2007):
        variables = "NAICS2007_TTL,GEO_TTL,EMP"
    elif (year > 2002):
        variables = "NAICS2002_TTL,GEO_TTL,EMP"
    elif (year > 1997):
        variables = "NAICS1997_TTL,GEO_TTL,EMP"
    else:
        variables = "GEO_TTL,EMP"
    
    url = cbp_url+variables+"&for=county:*&in=state:37&key="+census_api_key
    
    # From 2012, there are subcategories upto 2~6 digits in NAICS codes. We collect only 2 digits codes.
    if (year >= 2012):
        url += set_naics_query(year)
    
    return url

In [15]:
set_url(2012)

'https://api.census.gov/data/2012/cbp?get=GEO_TTL,EMP&for=county:*&in=state:37&key=c27d20165731bd731fe0b28ba84169ac2877e759&NAICS2012=00&NAICS2012=11&NAICS2012=21&NAICS2012=22&NAICS2012=23&NAICS2012=42&NAICS2012=51&NAICS2012=52&NAICS2012=53&NAICS2012=54&NAICS2012=55&NAICS2012=56&NAICS2012=61&NAICS2012=62&NAICS2012=71&NAICS2012=72&NAICS2012=81&NAICS2012=95&NAICS2012=99'

### Perform API calls

* By year

In [16]:
url = set_url(2018)

try:
    response = requests.get(url)
    print(response)
    census_data = response.json()
    #print(json.dumps(census_data, indent=4))
except:
    print(f"Found error")

<Response [200]>

In [17]:
df = pd.DataFrame(census_data, columns=census_data[0])
emp_df=df.drop(0).drop("state",axis=1)
emp_df

                                NAME   EMP NAICS2017 county
1      Greene County, North Carolina  2114        00    079
2      Greene County, North Carolina   253        23    079
3      Greene County, North Carolina    46        42    079
4      Greene County, North Carolina    54        52    079
5      Greene County, North Carolina     9        53    079
...                              ...   ...       ...    ...
1515  Caswell County, North Carolina   130        81    033
1516   Warren County, North Carolina   473        62    185
1517   Bladen County, North Carolina   122        42    017
1518   Warren County, North Carolina    43        56    185
1519   Warren County, North Carolina     7        61    185

[1519 rows x 4 columns]

In [18]:
emp_df.loc[emp_df['county']=='183']

                            NAME     EMP NAICS2017 county
833  Wake County, North Carolina    9419        53    183
834  Wake County, North Carolina   24891        42    183
835  Wake County, North Carolina   57526        54    183
836  Wake County, North Carolina   27811        51    183
837  Wake County, North Carolina   26709        52    183
838  Wake County, North Carolina  478998        00    183
839  Wake County, North Carolina     174        11    183
840  Wake County, North Carolina     225        21    183
841  Wake County, North Carolina    3219        22    183
842  Wake County, North Carolina   30205        23    183
843  Wake County, North Carolina   56812        72    183
844  Wake County, North Carolina      61        99    183
845  Wake County, North Carolina   22560        81    183
846  Wake County, North Carolina   11086        61    183
847  Wake County, North Carolina   12401        71    183
848  Wake County, North Carolina    9930        55    183
849  Wake County, North Carolina   37033        56    183
850  Wake County, North Carolina   64776        62    183

### Perform API calls

* By county, collect data for all years

In [19]:
# Function: County data for all years
# returns a table of given county with total employees for 1986~2018
def county_all_years(county):
    census = []
    for year in np.arange(1986,2018):
        
        #print(year)
        
        cbp_url = f'https://api.census.gov/data/{year}/cbp?get='
        if (year >= 2017):
            variables = "NAICS2017,EMP"
        elif (year >= 2012):
            variables = "NAICS2012_TTL,EMP"
        elif (year > 2007):
            variables = "NAICS2007_TTL,EMP"
        elif (year > 2002):
            variables = "NAICS2002_TTL,EMP"
        elif (year > 1997):
            variables = "NAICS1997_TTL,EMP"
        else:
            variables = "GEO_TTL,EMP"
            
        url = cbp_url+variables+f'&for=county:{county}&in=state:37&key='+census_api_key
        if (year >= 2017):
            url = url + "&NAICS2017=00"
            
        #print(url)
        
        try:
            response = requests.get(url)
            #print(response)
            year_data = response.json()
            #print(json.dumps(year_data, indent=4))
            census.append(year_data[1][1])
        except:
            print(f"Found error")
        

    return census

In [20]:
emp_ct = county_all_years('183')
emp_ct

['171707',
 '180159',
 '188429',
 '199991',
 '214939',
 '215685',
 '220516',
 '227468',
 '243889',
 '255873',
 '272570',
 '288340',
 '300548',
 '317994',
 '332744',
 '355071',
 '340064',
 '340802',
 '347541',
 '355516',
 '369539',
 '383282',
 '389698',
 '375345',
 '365534',
 '373012',
 '394910',
 '409573',
 '425283',
 '431040',
 '453333',
 '468449']

In [21]:
emp_ct_df = pd.DataFrame({
    "County" : ["183"]*len(emp_ct),
    "Year" : np.arange(1986,2018),
    "EMP" : emp_ct
})
emp_ct_df

   County  Year     EMP
0     183  1986  171707
1     183  1987  180159
2     183  1988  188429
3     183  1989  199991
4     183  1990  214939
5     183  1991  215685
6     183  1992  220516
7     183  1993  227468
8     183  1994  243889
9     183  1995  255873
10    183  1996  272570
11    183  1997  288340
12    183  1998  300548
13    183  1999  317994
14    183  2000  332744
15    183  2001  355071
16    183  2002  340064
17    183  2003  340802
18    183  2004  347541
19    183  2005  355516
20    183  2006  369539
21    183  2007  383282
22    183  2008  389698
23    183  2009  375345
24    183  2010  365534
25    183  2011  373012
26    183  2012  394910
27    183  2013  409573
28    183  2014  425283
29    183  2015  431040
30    183  2016  453333
31    183  2017  468449