# Collect data

### Cesus dot gov

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
import time
import csv

# Import API key
from config import census_api_key

### NAICS codes table

    2012~ : there are sub categories
    Before 2012, the number of employeements is available in total, no sub categories.
   
    For sub category bar chart, data from 2012 will be displayed.
    
    For timeline chart, data from 1986, number of employ will be displayed.

In [2]:
# NAICS2017 codes and labels:  CBP data of 2017~2018 refer to NICS2017 table for business labels
url = "https://api.census.gov/data/2018/cbp/variables/NAICS2017.json"
result = requests.get(url).json()
naics_items = result["values"]["item"]
naics2017 = { ky: naics_items[ky] for ky in naics_items.keys() if len(ky)==2}

# NAICS2012 codes and labels : CBP data of 2012~2016 refer to NICS2012 table for business labels
url = "https://api.census.gov/data/2016/cbp/variables/NAICS2012.json"
result = requests.get(url).json()
naics_items = result["values"]["item"]
naics2012 = { ky: naics_items[ky] for ky in naics_items.keys() if len(ky)==2}

# Write the tables to json files
with open("naics2017.json", "w") as outfile:  
    json.dump(naics2017, outfile)

with open("naics2012.json", "w") as outfile:  
    json.dump(naics2012, outfile)

### County codes and names

* From census,

In [7]:
# NC County names and codes from CENSUS
url = "https://api.census.gov/data/2018/cbp?get=NAME&for=county:*&in=state:37&key="+census_api_key
result = requests.get(url).json()

In [8]:
df = pd.DataFrame(result, columns=result[0])
county_df=df.drop(0).drop(["state"], axis=1)
county_df.head()

                               NAME county
1     Greene County, North Carolina    079
2    Haywood County, North Carolina    087
3   Mitchell County, North Carolina    121
4     Chowan County, North Carolina    041
5  Cleveland County, North Carolina    045

In [9]:
# Write the table to json file
#county_df.to_json("county_codes.json", orient="table", index=False)
county_df.to_json("county_codes.json", orient="columns")

* From NC map GeoJSON

In [ ]:
# Save the county properties from NC map geojson to a json file
def retrieve_county_Geojson():

    response = requests.get("https://opendata.arcgis.com/datasets/d192da4d0ac249fa9584109b1d626286_0.geojson")

    # Get county codes

    json_data = response.json()

    ctdata = json_data['features']
    ctarray = []
    for ct in ctdata:
        ctarray.append(ct['properties'])
    with open("county_codes2.json", "w") as ft:
        json.dump(ctarray, ft)

## Combine the county codes

In [11]:
# Geojson codes
gct_df = pd.read_json("county_codes2.json")
gct_n_df = gct_df[['CountyName', 'SAP_CNTY_NBR', 'CNTY_NBR']]
gct_n_df.head()

  CountyName  SAP_CNTY_NBR  CNTY_NBR
0     Camden            15        14
1      Gates            37        36
2    Iredell            49        48
3     Wilkes            97        96
4      Union            90        89

In [10]:
# Census codes
cct_df = pd.read_json("county_codes.json")
cct_df.head()

                               NAME  county
1     Greene County, North Carolina      79
2    Haywood County, North Carolina      87
3   Mitchell County, North Carolina     121
4     Chowan County, North Carolina      41
5  Cleveland County, North Carolina      45

In [17]:
name = [ nm.split()[0]  for nm in cct_df['NAME'].values ]
cct_df['CountyName'] = name
cct_df.head()

                               NAME  county CountyName
1     Greene County, North Carolina      79     Greene
2    Haywood County, North Carolina      87    Haywood
3   Mitchell County, North Carolina     121   Mitchell
4     Chowan County, North Carolina      41     Chowan
5  Cleveland County, North Carolina      45  Cleveland

In [33]:
combined = pd.merge(gct_n_df, cct_df, on='CountyName', how='inner')
combined.rename(columns={"CNTY_NBR" : "Geo_NBR", "county":"Census_NBR"}, inplace=True)
combined.head()

,CountyName,SAP_CNTY_NBR,Geo_NBR,NAME,Census_NBR
0,Camden,15,14,"Camden County, North Carolina",29
1,Gates,37,36,"Gates County, North Carolina",73
2,Iredell,49,48,"Iredell County, North Carolina",97
3,Wilkes,97,96,"Wilkes County, North Carolina",193
4,Union,90,89,"Union County, North Carolina",179

In [34]:
new_df = combined[['CountyName', 'Geo_NBR', 'Census_NBR']]
new_df.set_index('CountyName', inplace=True)
new_df.head()

            Geo_NBR  Census_NBR
CountyName
Camden           14          29
Gates            36          73
Iredell          48          97
Wilkes           96         193
Union            89         179

In [37]:
#  new_df.to_dict('index')
new_df.to_json("combined_county_codes.json", orient="index")

## Set variables, url for API calls

* API queries -- info for all counties

In [2]:
# Check the NAICS codes which have only 2 digits

with open("naics2017.json", "r") as fileobj:  
    naics2017 = json.load(fileobj)

print(naics2017.keys())

with open("naics2012.json", "r") as fileobj:  
    naics2012 = json.load(fileobj)

print(naics2012.keys())

dict_keys(['00', '11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '95', '99'])
dict_keys(['00', '11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '95', '99'])

In [2]:
## Set a naics code query to restrict the API call only for 2-digit business codes
def set_naics_query(year):
    
    # The NAICES codes for higher level business
    NAICS_codes = ['00', '11', '21', '22', '23', '42', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '95', '99']
    code_query = ""
    for code in NAICS_codes:
        if (year >= 2017):
            code_query += f'&NAICS2017={code}'
        elif (year >= 2012):
            code_query += f'&NAICS2012={code}'
    return code_query


## Set a url for given year to retrieve employee data for all counties.
def set_url(year):
    
    cbp_url = f'https://api.census.gov/data/{year}/cbp?get='
    
    ## The quary variables vary in years
    if (year >= 2017):
        variables = "NAME,EMP"
    elif (year >= 2012):
        variables = "GEO_TTL,EMP"
    elif (year > 2007):
        variables = "NAICS2007_TTL,GEO_TTL,EMP"
    elif (year > 2002):
        variables = "NAICS2002_TTL,GEO_TTL,EMP"
    elif (year > 1997):
        variables = "NAICS1997_TTL,GEO_TTL,EMP"
    else:
        variables = "GEO_TTL,EMP"
    
    url = cbp_url+variables+"&for=county:*&in=state:37&key="+census_api_key
    
    # From 2012, there are subcategories upto 2~6 digits in NAICS codes. We collect only 2 digits codes.
    if (year >= 2012):
        url += set_naics_query(year)
    
    return url

### Perform API calls

* By year, for given year, collect data for all counties

In [12]:
url = set_url(2012)

try:
    response = requests.get(url)
    print(response)
    census_data = response.json()
    #print(json.dumps(census_data, indent=4))
except:
    print(f"Found error")

<Response [200]>

In [13]:
df = pd.DataFrame(census_data, columns=census_data[0])
emp_df=df.drop(0).drop("state",axis=1)
emp_df.head()

                           GEO_TTL    EMP NAICS2012 county
1  Alamance County, North Carolina  50546        00    001
2  Alamance County, North Carolina     10        11    001
3  Alamance County, North Carolina      0        21    001
4    Bladen County, North Carolina  10408        00    017
5  Alamance County, North Carolina     97        22    001

### Perform API calls

* By county, collect data for all years

In [7]:
# Function: County data for all years
# returns a table of given county with total employees for 1986~2018
def county_all_years(county):
    census = []
    for year in np.arange(1986,2018):
        
        #print(year)
        
        cbp_url = f'https://api.census.gov/data/{year}/cbp?get='
        if (year >= 2017):
            variables = "NAICS2017,EMP"
        elif (year >= 2012):
            variables = "NAICS2012_TTL,EMP"
        elif (year > 2007):
            variables = "NAICS2007_TTL,EMP"
        elif (year > 2002):
            variables = "NAICS2002_TTL,EMP"
        elif (year > 1997):
            variables = "NAICS1997_TTL,EMP"
        else:
            variables = "GEO_TTL,EMP"
            
        url = cbp_url+variables+f'&for=county:{county}&in=state:37&key='+census_api_key
        if (year >= 2017):
            url = url + "&NAICS2017=00"
            
        #print(url)
        
        try:
            response = requests.get(url)
            #print(response)
            year_data = response.json()
            #print(json.dumps(year_data, indent=4))
            census.append(year_data[1][1])
        except:
            print(f"Found error")
        

    return census

* Running the following takes long time because of many api calls for the years.

In [8]:
emp_ct = county_all_years('183')
emp_ct_df = pd.DataFrame({
    "County" : ["183"]*len(emp_ct),
    "Year" : np.arange(1986,2018),
    "EMP" : emp_ct
})
emp_ct_df.head()

  County  Year     EMP
0    183  1986  171707
1    183  1987  180159
2    183  1988  188429
3    183  1989  199991
4    183  1990  214939

### Exploring more about data for 2017~2018

In [7]:
url2017 = set_url(2017)

try:
    response = requests.get(url2017)
    print(response)
    census_data = response.json()
    #print(json.dumps(census_data, indent=4))
except:
    print(f"Found error")
    
df = pd.DataFrame(census_data, columns=census_data[0])
emp_df2017 = df.drop(0).drop("state",axis=1)
emp_df2017.head()

<Response [200]>

                            NAME    EMP NAICS2017 county
1  Gaston County, North Carolina   1130        55    071
2  Gaston County, North Carolina   3071        42    071
3  Gaston County, North Carolina   3562        56    071
4  Gaston County, North Carolina   3150        81    071
5  Gaston County, North Carolina  64158        00    071

In [9]:
emp_df2017.loc[emp_df2017['NAICS2017']=='00']

                                  NAME    EMP NAICS2017 county
5        Gaston County, North Carolina  64158        00    071
27        Moore County, North Carolina  31029        00    125
37       Stanly County, North Carolina  16253        00    167
64       Yancey County, North Carolina   3382        00    199
74     McDowell County, North Carolina  13541        00    111
...                                ...    ...       ...    ...
1447  Cleveland County, North Carolina  30006        00    045
1467    Iredell County, North Carolina  67463        00    097
1486       Pitt County, North Carolina  60749        00    147
1499   Cherokee County, North Carolina   7487        00    039
1506     Wilkes County, North Carolina  19289        00    193

[100 rows x 4 columns]

In [15]:
url ="https://api.census.gov/data/2018/cbp?get=NAICS2017_LABEL,NAICS2017,EMP&for=state:37&key="+census_api_key

In [16]:
try:
    response = requests.get(url)
    print(response)
    census_data = response.json()
    #print(json.dumps(census_data, indent=4))
except:
    print(f"Found error")

<Response [200]>

In [17]:
df = pd.DataFrame(census_data, columns=census_data[0])
emp_df2018=df.drop(0).drop("state",axis=1)
emp_df2018.head()

                                     NAICS2017_LABEL NAICS2017    EMP
1  Architectural and structural metals manufacturing      3323  11663
2                                            Logging    113310   2751
3                      Fishing, hunting and trapping       114     31
4  Electric power generation, transmission and di...      2211  18817
5                             Residential remodelers    236118   9078

In [11]:
emp_df2017

                               NAME    EMP NAICS2017 county
1     Gaston County, North Carolina   1130        55    071
2     Gaston County, North Carolina   3071        42    071
3     Gaston County, North Carolina   3562        56    071
4     Gaston County, North Carolina   3150        81    071
5     Gaston County, North Carolina  64158        00    071
...                             ...    ...       ...    ...
1511  Wilkes County, North Carolina    562        23    193
1512  Wilkes County, North Carolina     24        61    193
1513  Wilkes County, North Carolina   3166        62    193
1514  Wilkes County, North Carolina    430        42    193
1515  Wilkes County, North Carolina     62        71    193

[1515 rows x 4 columns]

In [18]:
emp_df2018['EMP'].astype('int32').sum()

23082493

In [20]:
emp_df2018.loc[emp_df2018['NAICS2017']=='00']

           NAICS2017_LABEL NAICS2017      EMP
277  Total for all sectors        00  3848565

In [9]:
def NC_census_for_2017_2018():    
    url_2018 = "https://api.census.gov/data/2018/cbp?get=NAICS2017,EMP&for=state:37&key="+census_api_key
    try:
        response = requests.get(url_2018)
        print(response)
        census2018 = response.json()
        #print(json.dumps(census_data, indent=4))
    except:
        print(f"Found error")
        
    url_2017 = "https://api.census.gov/data/2017/cbp?get=NAICS2017,EMP&for=state:37&key="+census_api_key
    try:
        response = requests.get(url_2018=7)
        print(response)
        census2017 = response.json()
        #print(json.dumps(census_data, indent=4))
    except:
        print(f"Found error")
    return census2017, census2018

## State-wide API calls

In [3]:
## Set a url for given year to retrieve employee data for all counties.
def set_url_NC(year):
    
    cbp_url = f'https://api.census.gov/data/{year}/cbp?get='
    
    ## The quary variables vary in years
    if (year >= 2017):
        variables = "NAME,EMP"
    elif (year >= 2012):
        variables = "GEO_TTL,EMP"
    elif (year > 2007):
        variables = "NAICS2007_TTL,GEO_TTL,EMP"
    elif (year > 2002):
        variables = "NAICS2002_TTL,GEO_TTL,EMP"
    elif (year > 1997):
        variables = "NAICS1997_TTL,GEO_TTL,EMP"
    else:
        variables = "GEO_TTL,EMP"
    
    url = cbp_url+variables+"&for=state:37&key="+census_api_key
    
    # From 2012, there are subcategories upto 2~6 digits in NAICS codes. We collect only 2 digits codes.
    if (year >= 2012):
        url += set_naics_query(year)
    
    return url

In [11]:
urlNC = set_url_NC(2000)

try:
    response = requests.get(urlNC)
    print(response)
    census_data_NC = response.json()
    #print(json.dumps(census_data, indent=4))
except:
    print(f"Found error")
    
df_NC = pd.DataFrame(census_data_NC, columns=census_data_NC[0])
emp_df_NC = df_NC.drop(0).drop("state",axis=1)
emp_df_NC.head()

<Response [200]>

  NAICS1997_TTL         GEO_TTL      EMP
1         Total  North Carolina  3385492

In [12]:
emp_df_NC['EMP'].astype('int32')
emp_df_NC.sort_values(by='EMP', ascending=False)

           GEO_TTL      EMP NAICS2012
14  North Carolina    94867        61
12  North Carolina    92537        55
8   North Carolina    80535        51
16  North Carolina    60055        71
15  North Carolina   560309        62
10  North Carolina    51023        53
2   North Carolina     4671        11
17  North Carolina   379757        72
1   North Carolina  3560448        00
13  North Carolina   355469        56
4   North Carolina     3233        21
11  North Carolina   203500        54
5   North Carolina    19494        22
7   North Carolina   174694        42
9   North Carolina   172319        52
6   North Carolina   167929        23
18  North Carolina   148355        81
3   North Carolina        0        99

## Population Data

### NC 1990 Census table

https://www.osbm.nc.gov/facts-figures/demographics/1990-2000-county-growth

### Census demographic api

https://demography.osbm.nc.gov/explore/?sort=modified

* state-wide population: https://demography.osbm.nc.gov/explore/dataset/historic-census/table/?disjunctive.areatype&disjunctive.areaname&rows=30&q.timerange.year=year:%5B1979-01-01T05:00:00Z+TO+2020-01-02T04:59:59Z%5D&refine.areatype=State

* Downloaded historical NC census data for the cesus years : historic-census.json

### Census dot gov
source(2000~2010) API : https://www.census.gov/data/developers/data-sets/popest-popproj/popest.2000-2010_Intercensals.html

source(1990-2000) : Can't find county pop.
https://www.census.gov/data/developers/data-sets/popest-popproj/popest.1990-2000_Intercensals.html
do NOT have geographical variable.

In [12]:
# Histroic NC census data
query_years = ['1980', '1990', '2000']
years_pop = [
    ['year', 'county', 'population'],
    ['1990', 'STATE', '6628637'],
    ['1980', 'STATE', '5881766'],
    ['2000', 'STATE', '8046668']
]

with open("historic-census.json") as f:
    pop_data = json.load(f)
    #print(json.dumps(pop_data, indent=4))
    for each_data in pop_data:

        field_data = each_data['fields']
        #print(field_data['year'])
        if field_data['year'] in query_years:
            sel_data = [field_data['year'],
                       field_data['areaname'],
                       field_data['population']]
            years_pop.append(sel_data)
            #if field_data['areaname']=='Wake':
                #print(sel_data)

In [13]:
## API call for the population of counties in NC from 2000~2010
year = 2000
pop_url = f'https://api.census.gov/data/{year}/pep/int_population'
pop_var = '?get=GEONAME,POP,DATE_DESC&for=county:*&in=state:37'
apikey = '&key=' + census_api_key
print(pop_url+pop_var+apikey)
## Request
try:
    response = requests.get(pop_url+pop_var+apikey)
    print(response)
    pop_data = response.json()
    #print(json.dumps(census_data, indent=4))
except:
    print(f"Found error")
    
pop_df = pd.DataFrame(pop_data[1:], columns=pop_data[0])
#emp_df_NC = df_NC.drop(0).drop("state",axis=1)
pop_df.head()

https://api.census.gov/data/2000/pep/int_population?get=GEONAME,POP,DATE_DESC&for=county:*&in=state:37&key=c27d20165731bd731fe0b28ba84169ac2877e759
<Response [200]>

,GEONAME,POP,DATE_DESC,state,county
0,"Greene County, North Carolina",19848,7/1/2003 population estimate,37,079
1,"Greene County, North Carolina",20132,7/1/2004 population estimate,37,079
2,"Greene County, North Carolina",20146,7/1/2005 population estimate,37,079
3,"Greene County, North Carolina",20742,7/1/2006 population estimate,37,079
4,"Greene County, North Carolina",21178,7/1/2007 population estimate,37,079

In [14]:
years = []
counties = []
pop_array = []
for drow in pop_df.iterrows():
    row = drow[1]
    gname = row['GEONAME'].split()
    county = gname[0]
    counties.append(county)
    dt_str = row['DATE_DESC'].split()
    yr = dt_str[0].split('/')[2]
    years.append(yr)
    population = row['POP']
    pop_array.append(int(population))
    if int(yr) > 2000:
        years_pop.append([yr,county,population])
    
pop_df['YEAR'] = years
pop_df['CountyName'] = counties
pop_df['population'] = pop_array
pop_df.head()

,GEONAME,POP,DATE_DESC,state,county,YEAR,CountyName,population
0,"Greene County, North Carolina",19848,7/1/2003 population estimate,37,079,2003,Greene,19848
1,"Greene County, North Carolina",20132,7/1/2004 population estimate,37,079,2004,Greene,20132
2,"Greene County, North Carolina",20146,7/1/2005 population estimate,37,079,2005,Greene,20146
3,"Greene County, North Carolina",20742,7/1/2006 population estimate,37,079,2006,Greene,20742
4,"Greene County, North Carolina",21178,7/1/2007 population estimate,37,079,2007,Greene,21178

In [16]:
pop_df.loc[pop_df['YEAR']=='2000'].head()

,GEONAME,POP,DATE_DESC,state,county,YEAR,CountyName,population
8,"Guilford County, North Carolina",420848,4/1/2000 population estimates base,37,081,2000,Guilford,420848
9,"Guilford County, North Carolina",422324,7/1/2000 population estimate,37,081,2000,Guilford,422324
20,"Halifax County, North Carolina",57444,4/1/2000 population estimates base,37,083,2000,Halifax,57444
21,"Halifax County, North Carolina",57306,7/1/2000 population estimate,37,083,2000,Halifax,57306
32,"Harnett County, North Carolina",90978,4/1/2000 population estimates base,37,085,2000,Harnett,90978

In [17]:
# Compute the total population for NC and append the data to years_pop array
pop_nums = pop_df.groupby(['YEAR'])['population'].sum()
for items in pop_nums.items():
    #print(items)
    if items[0]!='2000':
        years_pop.append([items[0], 'NC', items[1]])
print(years_pop)

[['year', 'county', 'population'], ['1990', 'STATE', '6628637'], ['1980', 'STATE', '5881766'], ['2000', 'STATE', '8046668'], ['1990', 'Beaufort', 42283.0], ['2000', 'Beaufort', 44958.0], ['1990', 'Burke', 75740.0], ['1980', 'Camden', 5829.0], ['2000', 'Camden', 6885.0], ['2000', 'Caswell', 23501.0], ['2000', 'Chatham', 49326.0], ['1980', 'Cherokee', 18933.0], ['2000', 'Chowan', 14150.0], ['1980', 'Clay', 6619.0], ['1990', 'Clay', 7155.0], ['2000', 'Clay', 8775.0], ['1990', 'Cleveland', 84713.0], ['1980', 'Dare', 13377.0], ['1990', 'Davidson', 126677.0], ['1990', 'Davie', 27859.0], ['1980', 'Edgecombe', 55988.0], ['1990', 'Forsyth', 265878.0], ['2000', 'Franklin', 47260.0], ['2000', 'Granville', 48498.0], ['1980', 'Harnett', 59570.0], ['1990', 'Jackson', 26846.0], ['1980', 'Lee', 36718.0], ['2000', 'Lee', 49170.0], ['1980', 'Lenoir', 59819.0], ['1990', 'Macon', 23499.0], ['2000', 'Macon', 29806.0], ['1990', 'Martin', 25078.0], ['2000', 'McDowell', 42151.0], ['2000', 'Mecklenburg', 695370.0], ['1990', 'Nash', 76677.0], ['2000', 'Alamance', 130800.0], ['1990', 'Alexander', 27544.0], ['2000', 'Pasquotank', 34897.0], ['1990', 'Anson', 23474.0], ['2000', 'Polk', 18324.0], ['2000', 'Brunswick', 73141.0], ['1990', 'Robeson', 105170.0], ['2000', 'Burke', 89145.0], ['2000', 'Caldwell', 77708.0], ['1990', 'Rowan', 110605.0], ['1980', 'Alamance', 99319.0], ['1990', 'Sampson', 47297.0], ['1980', 'Alleghany', 9587.0], ['1980', 'Stanly', 48517.0], ['1980', 'Catawba', 105208.0], ['2000', 'Catawba', 141686.0], ['1980', 'Union', 70436.0], ['1980', 'Vance', 36748.0], ['2000', 'Columbus', 54749.0], ['1980', 'Buncombe', 160897.0], ['1980', 'Cumberland', 247160.0], ['1980', 'Wilson', 63132.0], ['2000', 'Buncombe', 206310.0], ['1990', 'Cumberland', 274713.0], ['1990', 'Yadkin', 30488.0], ['1990', 'Currituck', 13736.0], ['1990', 'Yancey', 15419.0], ['1990', 'Cabarrus', 98935.0], ['1980', 'Davie', 24599.0], ['2000', 'Forsyth', 306063.0], ['1990', 'Chowan', 13506.0], ['2000', 'Gaston', 190336.0], ['1980', 'Graham', 7217.0], ['1980', 'Davidson', 113162.0], ['1990', 'Greene', 15384.0], ['1980', 'Haywood', 46495.0], ['2000', 'Duplin', 49063.0], ['1990', 'Hoke', 22856.0], ['2000', 'Hoke', 33650.0], ['1990', 'Gaston', 175093.0], ['1980', 'Gates', 8875.0], ['1990', 'Hyde', 5411.0], ['2000', 'Hyde', 5826.0], ['1990', 'Johnston', 81306.0], ['1980', 'Jones', 9705.0], ['1990', 'Halifax', 55516.0], ['2000', 'Lenoir', 59619.0], ['1990', 'Lincoln', 50319.0], ['2000', 'Harnett', 91085.0], ['2000', 'Haywood', 54033.0], ['1980', 'Alexander', 24999.0], ['2000', 'Henderson', 89193.0], ['2000', 'Alexander', 33603.0], ['1980', 'Hertford', 23368.0], ['1980', 'Anson', 25649.0], ['1980', 'Montgomery', 22469.0], ['2000', 'Ashe', 24384.0], ['1990', 'Northampton', 20798.0], ['1990', 'Lee', 41370.0], ['1980', 'Bladen', 30491.0], ['1990', 'Onslow', 149838.0], ['2000', 'Bladen', 32278.0], ['1980', 'Orange', 77055.0], ['1980', 'Cabarrus', 85895.0], ['1980', 'Pender', 22262.0], ['1980', 'McDowell', 35135.0], ['2000', 'Pender', 41082.0], ['1990', 'Caldwell', 70709.0], ['1980', 'Perquimans', 9486.0], ['1990', 'Camden', 5904.0], ['1980', 'Carteret', 41092.0], ['1980', 'Randolph', 91300.0], ['2000', 'Randolph', 130471.0], ['1990', 'Richmond', 44518.0], ['1990', 'Moore', 59000.0], ['1980', 'Nash', 67153.0], ['1990', 'Catawba', 118412.0], ['2000', 'Nash', 87385.0], ['1980', 'New Hanover', 103471.0], ['1980', 'Stokes', 33086.0], ['2000', 'Northampton', 22086.0], ['1980', 'Surry', 59449.0], ['1990', 'Swain', 11268.0], ['1980', 'Cleveland', 83435.0], ['2000', 'Onslow', 150355.0], ['1990', 'Ashe', 22209.0], ['1990', 'Transylvania', 25520.0], ['2000', 'Cleveland', 96258.0], ['2000', 'Orange', 115531.0], ['2000', 'Bertie', 19757.0], ['1990', 'Craven', 81613.0], ['2000', 'Craven', 91523.0], ['1980', 'Person', 29164.0], ['2000', 'Cumberland', 302960.0], ['1980', 'Currituck', 11089.0], ['2000', 'Person', 35623.0], ['1990', 'Buncombe', 174778.0], ['1980', 'Warren', 16232.0], ['1980', 'Burke', 72504.0], ['2000', 'Davidson', 147250.0], ['1980', 'Polk', 12984.0], ['1990', 'Watauga', 36952.0], ['1980', 'Wayne', 97054.0], ['2000', 'Richmond', 46557.0], ['1980', 'Gaston', 162568.0], ['2000', 'Wayne', 113329.0], ['2000', 'Carteret', 59383.0], ['1990', 'Gates', 9305.0], ['2000', 'Rockingham', 91928.0], ['2000', 'Graham', 7993.0], ['2000', 'Rutherford', 62901.0], ['1990', 'Harnett', 67833.0], ['1990', 'Cherokee', 20170.0], ['1990', 'Haywood', 46942.0], ['2000', 'Swain', 12973.0], ['2000', 'Transylvania', 29334.0], ['2000', 'Jackson', 33121.0], ['2000', 'Currituck', 18190.0], ['2000', 'Dare', 29967.0], ['1990', 'Duplin', 39995.0], ['2000', 'Madison', 19635.0], ['2000', 'Gates', 10516.0], ['1980', 'Yadkin', 28439.0], ['1980', 'Greene', 16117.0], ['1980', 'Guilford', 317154.0], ['1990', 'Guilford', 347420.0], ['2000', 'Moore', 74768.0], ['1980', 'Northampton', 22195.0], ['1980', 'Hoke', 20383.0], ['1990', 'Orange', 93851.0], ['1980', 'Iredell', 82538.0], ['1990', 'Pender', 28855.0], ['2000', 'Jones', 10398.0], ['1990', 'Person', 30180.0], ['1990', 'Polk', 14416.0], ['1990', 'Randolph', 106546.0], ['1980', 'Richmond', 45161.0], ['1980', 'Robeson', 101610.0], ['1980', 'Rockingham', 83426.0], ['1980', 'Rowan', 99186.0], ['1980', 'Sampson', 49687.0], ['1990', 'Scotland', 33763.0], ['2000', 'Tyrrell', 4149.0], ['2000', 'Union', 123772.0], ['2000', 'Vance', 42954.0], ['2000', 'Robeson', 123241.0], ['1990', 'Rockingham', 86064.0], ['1990', 'Surry', 61704.0], ['1990', 'Tyrrell', 3856.0], ['1990', 'Warren', 17265.0], ['1990', 'Washington', 13997.0], ['2000', 'Washington', 13723.0], ['1990', 'Wayne', 104666.0], ['1980', 'North Carolina', 5881766.0], ['2000', 'North Carolina', 8046668.0], ['1990', 'Alamance', 108213.0], ['1990', 'Alleghany', 9590.0], ['1980', 'Ashe', 22325.0], ['1990', 'Avery', 14867.0], ['1990', 'Bladen', 28663.0], ['1990', 'Carteret', 52553.0], ['2000', 'Cherokee', 24298.0], ['1980', 'Chowan', 12558.0], ['1980', 'Craven', 71043.0], ['2000', 'Durham', 223314.0], ['1990', 'Edgecombe', 56692.0], ['1980', 'Franklin', 30055.0], ['1990', 'Franklin', 36414.0], ['1990', 'Granville', 38341.0], ['2000', 'Guilford', 421048.0], ['1980', 'Halifax', 55076.0], ['1990', 'Henderson', 69326.0], ['1990', 'Hertford', 22523.0], ['2000', 'Hertford', 22977.0], ['1990', 'Iredell', 92935.0], ['1990', 'Lenoir', 57274.0], ['1980', 'Lincoln', 42372.0], ['1980', 'Madison', 16827.0], ['1990', 'McDowell', 35681.0], ['1990', 'Mecklenburg', 511481.0], ['1980', 'Mitchell', 14428.0], ['2000', 'Montgomery', 26827.0], ['1980', 'Moore', 50505.0], ['2000', 'New Hanover', 160327.0], ['1990', 'Pamlico', 11368.0], ['2000', 'Perquimans', 11368.0], ['1980', 'Pitt', 90146.0], ['2000', 'Pitt', 133719.0], ['2000', 'Sampson', 60161.0], ['2000', 'Stokes', 44711.0], ['1980', 'Swain', 10283.0], ['1990', 'Vance', 38892.0], ['2000', 'Wake', 627846.0], ['2000', 'Warren', 19972.0], ['2000', 'Watauga', 42693.0], ['2000', 'Wilkes', 65636.0], ['2000', 'Yancey', 17774.0], ['1990', 'North Carolina', 6628637.0], ['1980', 'Avery', 14409.0], ['2000', 'Avery', 17167.0], ['1980', 'Beaufort', 40355.0], ['1990', 'Bertie', 20388.0], ['1980', 'Brunswick', 35777.0], ['1990', 'Brunswick', 50985.0], ['1980', 'Caswell', 20705.0], ['1990', 'Caswell', 20693.0], ['1990', 'Chatham', 38759.0], ['2000', 'Davie', 34835.0], ['1980', 'Durham', 152235.0], ['1990', 'Durham', 181854.0], ['2000', 'Halifax', 57370.0], ['1980', 'Henderson', 58617.0], ['1980', 'Hyde', 5873.0], ['2000', 'Johnston', 121900.0], ['1990', 'Jones', 9414.0], ['1980', 'Macon', 20178.0], ['1990', 'Madison', 16953.0], ['1980', 'Martin', 25948.0], ['2000', 'Martin', 25546.0], ['1990', 'Mitchell', 14433.0], ['1990', 'Montgomery', 23352.0], ['1990', 'New Hanover', 120284.0], ['1980', 'Onslow', 112784.0], ['1980', 'Pamlico', 10398.0], ['1980', 'Pasquotank', 28462.0], ['1990', 'Perquimans', 10447.0], ['1990', 'Pitt', 108480.0], ['1980', 'Scotland', 32273.0], ['2000', 'Stanly', 58100.0], ['1990', 'Stokes', 37223.0], ['2000', 'Surry', 71209.0], ['1980', 'Transylvania', 23417.0], ['1980', 'Wake', 301429.0], ['1990', 'Wake', 426301.0], ['1990', 'Wilkes', 59393.0], ['1990', 'Wilson', 66061.0], ['2000', 'Wilson', 73811.0], ['2000', 'Yadkin', 36351.0], ['1980', 'Yancey', 14934.0], ['2000', 'Alleghany', 10680.0], ['2000', 'Anson', 25275.0], ['1980', 'Bertie', 21024.0], ['2000', 'Cabarrus', 131063.0], ['1980', 'Caldwell', 67746.0], ['1980', 'Chatham', 33415.0], ['1980', 'Columbus', 51037.0], ['1990', 'Columbus', 49587.0], ['1990', 'Dare', 22746.0], ['1980', 'Duplin', 40952.0], ['2000', 'Edgecombe', 55606.0], ['1980', 'Forsyth', 243704.0], ['1990', 'Graham', 7196.0], ['1980', 'Granville', 34043.0], ['2000', 'Greene', 18974.0], ['2000', 'Iredell', 122660.0], ['1980', 'Jackson', 25811.0], ['1980', 'Johnston', 70599.0], ['2000', 'Lincoln', 63780.0], ['1980', 'Mecklenburg', 404270.0], ['2000', 'Mitchell', 15687.0], ['2000', 'Pamlico', 12934.0], ['1990', 'Pasquotank', 31298.0], ['2000', 'Rowan', 130340.0], ['1980', 'Rutherford', 53787.0], ['1990', 'Rutherford', 56919.0], ['2000', 'Scotland', 35998.0], ['1990', 'Stanly', 51765.0], ['1980', 'Tyrrell', 3975.0], ['1990', 'Union', 84210.0], ['1980', 'Washington', 14801.0], ['1980', 'Watauga', 31666.0], ['1980', 'Wilkes', 58657.0], ['2003', 'Greene', '19848'], ['2004', 'Greene', '20132'], ['2005', 'Greene', '20146'], ['2006', 'Greene', '20742'], ['2007', 'Greene', '21178'], ['2008', 'Greene', '21230'], ['2009', 'Greene', '21253'], ['2010', 'Greene', '21362'], ['2001', 'Guilford', '428381'], ['2002', 'Guilford', '432068'], ['2003', 'Guilford', '436327'], ['2004', 'Guilford', '440597'], ['2005', 'Guilford', '448192'], ['2006', 'Guilford', '458792'], ['2007', 'Guilford', '468466'], ['2008', 'Guilford', '477809'], ['2009', 'Guilford', '484180'], ['2010', 'Guilford', '488406'], ['2001', 'Halifax', '56788'], ['2002', 'Halifax', '56507'], ['2003', 'Halifax', '56301'], ['2004', 'Halifax', '56000'], ['2005', 'Halifax', '55860'], ['2006', 'Halifax', '55685'], ['2007', 'Halifax', '55616'], ['2008', 'Halifax', '55568'], ['2009', 'Halifax', '55033'], ['2010', 'Halifax', '54691'], ['2001', 'Harnett', '93168'], ['2002', 'Harnett', '95708'], ['2003', 'Harnett', '96787'], ['2004', 'Harnett', '98545'], ['2005', 'Harnett', '100728'], ['2006', 'Harnett', '103036'], ['2007', 'Harnett', '105770'], ['2008', 'Harnett', '108752'], ['2009', 'Harnett', '111866'], ['2010', 'Harnett', '114678'], ['2001', 'Haywood', '54802'], ['2002', 'Haywood', '55387'], ['2003', 'Haywood', '56077'], ['2004', 'Haywood', '56785'], ['2005', 'Haywood', '57085'], ['2006', 'Haywood', '57701'], ['2007', 'Haywood', '58386'], ['2008', 'Haywood', '58811'], ['2009', 'Haywood', '59152'], ['2010', 'Haywood', '59036'], ['2001', 'Henderson', '91150'], ['2002', 'Henderson', '92700'], ['2003', 'Henderson', '94246'], ['2004', 'Henderson', '95797'], ['2005', 'Henderson', '97584'], ['2006', 'Henderson', '100056'], ['2007', 'Henderson', '102270'], ['2008', 'Henderson', '104289'], ['2009', 'Henderson', '105813'], ['2010', 'Henderson', '106740'], ['2001', 'Hertford', '22812'], ['2002', 'Hertford', '23547'], ['2003', 'Hertford', '23531'], ['2004', 'Hertford', '23729'], ['2005', 'Hertford', '23895'], ['2006', 'Hertford', '23981'], ['2007', 'Hertford', '24240'], ['2008', 'Hertford', '24473'], ['2009', 'Hertford', '24580'], ['2010', 'Hertford', '24669'], ['2001', 'Hoke', '34722'], ['2002', 'Hoke', '35785'], ['2003', 'Hoke', '36505'], ['2004', 'Hoke', '38119'], ['2005', 'Hoke', '39798'], ['2006', 'Hoke', '41360'], ['2007', 'Hoke', '42496'], ['2008', 'Hoke', '43912'], ['2009', 'Hoke', '45406'], ['2010', 'Hoke', '46952'], ['2001', 'Hyde', '5735'], ['2002', 'Hyde', '5846'], ['2003', 'Hyde', '5750'], ['2004', 'Hyde', '5712'], ['2005', 'Hyde', '5733'], ['2006', 'Hyde', '5621'], ['2007', 'Hyde', '5639'], ['2008', 'Hyde', '5764'], ['2009', 'Hyde', '5774'], ['2010', 'Hyde', '5810'], ['2001', 'Iredell', '127136'], ['2002', 'Iredell', '130352'], ['2003', 'Iredell', '133099'], ['2004', 'Iredell', '136514'], ['2005', 'Iredell', '140514'], ['2006', 'Iredell', '146854'], ['2007', 'Iredell', '151944'], ['2008', 'Iredell', '156204'], ['2009', 'Iredell', '158387'], ['2010', 'Iredell', '159437'], ['2001', 'Jackson', '33885'], ['2002', 'Jackson', '34587'], ['2003', 'Jackson', '35711'], ['2004', 'Jackson', '36555'], ['2005', 'Jackson', '37075'], ['2006', 'Jackson', '38129'], ['2007', 'Jackson', '38404'], ['2008', 'Jackson', '38994'], ['2009', 'Jackson', '39856'], ['2001', 'Alamance', '133346'], ['2002', 'Alamance', '135239'], ['2003', 'Alamance', '136009'], ['2004', 'Alamance', '137619'], ['2005', 'Alamance', '139311'], ['2006', 'Alamance', '141462'], ['2007', 'Alamance', '144712'], ['2008', 'Alamance', '147704'], ['2009', 'Alamance', '149954'], ['2010', 'Alamance', '151131'], ['2001', 'Alexander', '34187'], ['2002', 'Alexander', '34665'], ['2003', 'Alexander', '34998'], ['2004', 'Alexander', '35343'], ['2005', 'Alexander', '35786'], ['2006', 'Alexander', '36243'], ['2007', 'Alexander', '36609'], ['2008', 'Alexander', '36840'], ['2009', 'Alexander', '37053'], ['2010', 'Alexander', '37198'], ['2001', 'Alleghany', '10740'], ['2002', 'Alleghany', '10740'], ['2003', 'Alleghany', '10776'], ['2004', 'Alleghany', '10790'], ['2005', 'Alleghany', '10788'], ['2006', 'Alleghany', '10940'], ['2007', 'Alleghany', '11061'], ['2008', 'Alleghany', '11131'], ['2009', 'Alleghany', '11125'], ['2010', 'Alleghany', '11155'], ['2001', 'Anson', '25553'], ['2002', 'Anson', '25723'], ['2003', 'Anson', '25749'], ['2004', 'Anson', '26386'], ['2005', 'Anson', '26585'], ['2006', 'Anson', '26599'], ['2007', 'Anson', '26664'], ['2008', 'Anson', '26837'], ['2009', 'Anson', '26917'], ['2010', 'Anson', '26948'], ['2001', 'Ashe', '24750'], ['2002', 'Ashe', '25029'], ['2003', 'Ashe', '25288'], ['2004', 'Ashe', '25684'], ['2005', 'Ashe', '25838'], ['2006', 'Ashe', '26134'], ['2007', 'Ashe', '26506'], ['2008', 'Ashe', '26858'], ['2009', 'Ashe', '27144'], ['2010', 'Ashe', '27281'], ['2001', 'Avery', '17706'], ['2002', 'Avery', '17867'], ['2003', 'Avery', '17896'], ['2004', 'Avery', '17971'], ['2005', 'Avery', '17945'], ['2006', 'Avery', '18104'], ['2007', 'Avery', '17949'], ['2008', 'Avery', '18024'], ['2009', 'Avery', '17925'], ['2010', 'Avery', '17797'], ['2001', 'Beaufort', '45084'], ['2002', 'Beaufort', '45216'], ['2003', 'Beaufort', '45418'], ['2004', 'Beaufort', '45618'], ['2005', 'Beaufort', '46059'], ['2006', 'Beaufort', '46622'], ['2007', 'Beaufort', '46702'], ['2008', 'Beaufort', '47297'], ['2009', 'Beaufort', '47485'], ['2010', 'Beaufort', '47759'], ['2001', 'Bertie', '19829'], ['2002', 'Bertie', '19841'], ['2003', 'Bertie', '19897'], ['2004', 'Bertie', '20018'], ['2005', 'Bertie', '20057'], ['2006', 'Bertie', '19936'], ['2007', 'Bertie', '20927'], ['2008', 'Bertie', '21121'], ['2009', 'Bertie', '21216'], ['2010', 'Bertie', '21282'], ['2001', 'Bladen', '32714'], ['2002', 'Bladen', '32782'], ['2003', 'Bladen', '33129'], ['2004', 'Bladen', '33684'], ['2005', 'Bladen', '33934'], ['2006', 'Bladen', '34114'], ['2007', 'Bladen', '34285'], ['2008', 'Bladen', '34665'], ['2009', 'Bladen', '34852'], ['2010', 'Bladen', '35190'], ['2001', 'Brunswick', '76005'], ['2002', 'Brunswick', '78296'], ['2003', 'Brunswick', '80584'], ['2004', 'Brunswick', '83327'], ['2005', 'Brunswick', '87846'], ['2006', 'Brunswick', '93938'], ['2007', 'Brunswick', '99008'], ['2008', 'Brunswick', '103257'], ['2009', 'Brunswick', '105777'], ['2010', 'Brunswick', '107431'], ['2001', 'Buncombe', '209104'], ['2002', 'Buncombe', '211841'], ['2003', 'Buncombe', '214982'], ['2004', 'Buncombe', '218139'], ['2005', 'Buncombe', '221642'], ['2006', 'Buncombe', '226524'], ['2007', 'Buncombe', '230766'], ['2008', 'Buncombe', '233772'], ['2009', 'Buncombe', '236349'], ['2010', 'Buncombe', '238318'], ['2001', 'Burke', '89525'], ['2002', 'Burke', '89371'], ['2003', 'Burke', '89493'], ['2004', 'Burke', '89394'], ['2005', 'Burke', '89526'], ['2006', 'Burke', '89903'], ['2007', 'Burke', '90146'], ['2008', 'Burke', '90788'], ['2009', 'Burke', '91178'], ['2010', 'Burke', '90912'], ['2001', 'Cabarrus', '136463'], ['2002', 'Cabarrus', '140054'], ['2003', 'Cabarrus', '143336'], ['2004', 'Cabarrus', '146429'], ['2005', 'Cabarrus', '150797'], ['2006', 'Cabarrus', '157735'], ['2007', 'Cabarrus', '165717'], ['2008', 'Cabarrus', '171915'], ['2009', 'Cabarrus', '175993'], ['2010', 'Cabarrus', '178011'], ['2001', 'Caldwell', '78375'], ['2002', 'Caldwell', '78920'], ['2003', 'Caldwell', '79380'], ['2004', 'Caldwell', '79471'], ['2005', 'Caldwell', '80218'], ['2006', 'Caldwell', '80897'], ['2007', 'Caldwell', '81588'], ['2008', 'Caldwell', '82527'], ['2009', 'Caldwell', '82798'], ['2010', 'Caldwell', '83029'], ['2001', 'Camden', '7100'], ['2002', 'Camden', '7412'], ['2003', 'Camden', '7894'], ['2004', 'Camden', '8415'], ['2005', 'Camden', '8991'], ['2006', 'Camden', '9321'], ['2007', 'Camden', '9570'], ['2008', 'Camden', '9802'], ['2009', 'Camden', '9899'], ['2010', 'Camden', '9980'], ['2001', 'Carteret', '59790'], ['2002', 'Carteret', '60311'], ['2003', 'Carteret', '61067'], ['2004', 'Carteret', '62127'], ['2005', 'Carteret', '62833'], ['2006', 'Carteret', '64028'], ['2007', 'Carteret', '64258'], ['2008', 'Carteret', '64700'], ['2009', 'Carteret', '65670'], ['2010', 'Carteret', '66469'], ['2001', 'Caswell', '23610'], ['2002', 'Caswell', '23767'], ['2003', 'Caswell', '23833'], ['2004', 'Caswell', '23801'], ['2005', 'Caswell', '23827'], ['2006', 'Caswell', '23993'], ['2007', 'Caswell', '23914'], ['2008', 'Caswell', '23912'], ['2009', 'Caswell', '23725'], ['2010', 'Caswell', '23719'], ['2001', 'Catawba', '144865'], ['2002', 'Catawba', '145343'], ['2003', 'Catawba', '145601'], ['2004', 'Catawba', '147016'], ['2005', 'Catawba', '148629'], ['2006', 'Catawba', '150449'], ['2007', 'Catawba', '152448'], ['2008', 'Catawba', '153848'], ['2009', 'Catawba', '154610'], ['2010', 'Catawba', '154358'], ['2001', 'Chatham', '51482'], ['2002', 'Chatham', '53857'], ['2003', 'Chatham', '55061'], ['2004', 'Chatham', '56236'], ['2005', 'Chatham', '57045'], ['2006', 'Chatham', '58779'], ['2007', 'Chatham', '60054'], ['2008', 'Chatham', '61783'], ['2009', 'Chatham', '62693'], ['2010', 'Chatham', '63505'], ['2001', 'Cherokee', '24629'], ['2002', 'Cherokee', '24884'], ['2003', 'Cherokee', '25229'], ['2004', 'Cherokee', '25658'], ['2005', 'Cherokee', '26077'], ['2006', 'Cherokee', '26877'], ['2007', 'Cherokee', '27350'], ['2008', 'Cherokee', '27545'], ['2009', 'Cherokee', '27378'], ['2010', 'Cherokee', '27444'], ['2001', 'Chowan', '14490'], ['2002', 'Chowan', '14559'], ['2003', 'Chowan', '14529'], ['2004', 'Chowan', '14573'], ['2005', 'Chowan', '14625'], ['2006', 'Chowan', '14835'], ['2007', 'Chowan', '14953'], ['2008', 'Chowan', '14831'], ['2009', 'Chowan', '14915'], ['2010', 'Chowan', '14793'], ['2001', 'Clay', '9086'], ['2002', 'Clay', '9273'], ['2003', 'Clay', '9429'], ['2004', 'Clay', '9583'], ['2005', 'Clay', '9833'], ['2006', 'Clay', '10107'], ['2007', 'Clay', '10356'], ['2008', 'Clay', '10492'], ['2009', 'Clay', '10540'], ['2010', 'Clay', '10587'], ['2001', 'Cleveland', '96861'], ['2002', 'Cleveland', '97068'], ['2003', 'Cleveland', '97241'], ['2004', 'Cleveland', '97134'], ['2005', 'Cleveland', '96844'], ['2006', 'Cleveland', '96990'], ['2007', 'Cleveland', '97524'], ['2008', 'Cleveland', '98155'], ['2009', 'Cleveland', '98211'], ['2010', 'Cleveland', '98078'], ['2001', 'Columbus', '54806'], ['2002', 'Columbus', '54975'], ['2003', 'Columbus', '54961'], ['2004', 'Columbus', '55099'], ['2005', 'Columbus', '55155'], ['2006', 'Columbus', '55654'], ['2007', 'Columbus', '55964'], ['2008', 'Columbus', '56503'], ['2009', 'Columbus', '58163'], ['2010', 'Columbus', '58098'], ['2001', 'Craven', '93325'], ['2002', 'Craven', '92633'], ['2003', 'Craven', '92906'], ['2004', 'Craven', '93548'], ['2005', 'Craven', '94729'], ['2006', 'Craven', '96926'], ['2007', 'Craven', '97825'], ['2008', 'Craven', '99423'], ['2009', 'Craven', '101923'], ['2010', 'Craven', '103505'], ['2001', 'Cumberland', '304316'],

In [6]:
with open("counties_pop_1990_2000.json", "w") as jfile:
    json.dump(years_pop, jfile)

In [8]:
cty = 'NC'
cyr = 2017
with open("counties_pop_1990_2000.json") as f:
    pop_data = json.load(f)
    print(pop_data[1])
    pp_data = pop_data[1:]
    #print(json.dumps(pop_data, indent=4))
    sel_pop = list(filter(lambda d: (d[1] == 'NC') & (int(d[0])<=cyr), pp_data))
print(sel_pop)

['1990', 'NC', '6628637']
[['1990', 'NC', '6628637'], ['1980', 'NC', '5881766'], ['2000', 'NC', '8046668'], ['2001', 'NC', 8210122], ['2002', 'NC', 8326201], ['2003', 'NC', 8422501], ['2004', 'NC', 8553152], ['2005', 'NC', 8705407], ['2006', 'NC', 8917270], ['2007', 'NC', 9118037], ['2008', 'NC', 9309449], ['2009', 'NC', 9449566], ['2010', 'NC', 9535483]]

['Alamance', '151440', '151961', '152545', '153274', '155070', '156554', '159836', '163045', '166638', '170483']
['2010', 'Alamance', '151440']
['2011', 'Alamance', '151961']
['2012', 'Alamance', '152545']
['2013', 'Alamance', '153274']
['2014', 'Alamance', '155070']
['2015', 'Alamance', '156554']
['2016', 'Alamance', '159836']
['2017', 'Alamance', '163045']
['2018', 'Alamance', '166638']
['2019', 'Alamance', '170483']
['Alexander', '37235', '37158', '37323', '37414', '37597', '37550', '37908', '38070', '38303', '38530']
['2010', 'Alexander', '37235']
['2011', 'Alexander', '37158']
['2012', 'Alexander', '37323']
['2013', 'Alexander', '37414']
['2014', 'Alexander', '37597']
['2015', 'Alexander', '37550']
['2016', 'Alexander', '37908']
['2017', 'Alexander', '38070']
['2018', 'Alexander', '38303']
['2019', 'Alexander', '38530']
['Alleghany', '11139', '11068', '10993', '11065', '11180', '11237', '11297', '11378', '11422', '11466']
['2010', 'Alleghany', '11139']
['2011', 'Alleghany', '11068']
['2012', 'Alleghany', '10993']
['2013', 'Alleghany', '11065']
['2014', 'Alleghany', '11180']
['2015', 'Alleghany', '11237']
['2016', 'Alleghany', '11297']
['2017', 'Alleghany', '11378']
['2018', 'Alleghany', '11422']
['2019', 'Alleghany', '11466']
['Anson', '26852', '26699', '26597', '26288', '26304', '26035', '25644', '25490', '25288', '25290']
['2010', 'Anson', '26852']
['2011', 'Anson', '26699']
['2012', 'Anson', '26597']
['2013', 'Anson', '26288']
['2014', 'Anson', '26304']
['2015', 'Anson', '26035']
['2016', 'Anson', '25644']
['2017', 'Anson', '25490']
['2018', 'Anson', '25288']
['2019', 'Anson', '25290']
['Ashe', '27228', '27107', '27170', '27149', '27203', '26989', '27072', '27297', '27606', '27861']
['2010', 'Ashe', '27228']
['2011', 'Ashe', '27107']
['2012', 'Ashe', '27170']
['2013', 'Ashe', '27149']
['2014', 'Ashe', '27203']
['2015', 'Ashe', '26989']
['2016', 'Ashe', '27072']
['2017', 'Ashe', '27297']
['2018', 'Ashe', '27606']
['2019', 'Ashe', '27861']
['Avery', '17765', '17910', '17810', '17844', '17871', '17764', '17857', '17970', '18057', '18022']
['2010', 'Avery', '17765']
['2011', 'Avery', '17910']
['2012', 'Avery', '17810']
['2013', 'Avery', '17844']
['2014', 'Avery', '17871']
['2015', 'Avery', '17764']
['2016', 'Avery', '17857']
['2017', 'Avery', '17970']
['2018', 'Avery', '18057']
['2019', 'Avery', '18022']
['Beaufort', '47807', '47864', '47790', '47667', '47585', '47612', '47473', '47458', '47475', '47480']
['2010', 'Beaufort', '47807']
['2011', 'Beaufort', '47864']
['2012', 'Beaufort', '47790']
['2013', 'Beaufort', '47667']
['2014', 'Beaufort', '47585']
['2015', 'Beaufort', '47612']
['2016', 'Beaufort', '47473']
['2017', 'Beaufort', '47458']
['2018', 'Beaufort', '47475']
['2019', 'Beaufort', '47480']
['Bertie', '21245', '20937', '20574', '20463', '20454', '20409', '19798', '19780', '19709', '19636']
['2010', 'Bertie', '21245']
['2011', 'Bertie', '20937']
['2012', 'Bertie', '20574']
['2013', 'Bertie', '20463']
['2014', 'Bertie', '20454']
['2015', 'Bertie', '20409']
['2016', 'Bertie', '19798']
['2017', 'Bertie', '19780']
['2018', 'Bertie', '19709']
['2019', 'Bertie', '19636']
['Bladen', '35192', '35026', '35103', '35043', '35040', '34898', '34664', '34522', '34566', '34497']
['2010', 'Bladen', '35192']
['2011', 'Bladen', '35026']
['2012', 'Bladen', '35103']
['2013', 'Bladen', '35043']
['2014', 'Bladen', '35040']
['2015', 'Bladen', '34898']
['2016', 'Bladen', '34664']
['2017', 'Bladen', '34522']
['2018', 'Bladen', '34566']
['2019', 'Bladen', '34497']
['Brunswick', '108065', '110148', '112409', '115284', '119050', '122957', '127152', '131644', '137103', '142088']
['2010', 'Brunswick', '108065']
['2011', 'Brunswick', '110148']
['2012', 'Brunswick', '112409']
['2013', 'Brunswick', '115284']
['2014', 'Brunswick', '119050']
['2015', 'Brunswick', '122957']
['2016', 'Brunswick', '127152']
['2017', 'Brunswick', '131644']
['2018', 'Brunswick', '137103']
['2019', 'Brunswick', '142088']
['Buncombe', '238737', '241798', '244725', '247951', '250552', '253775', '257259', '259082', '261065', '264056']
['2010', 'Buncombe', '238737']
['2011', 'Buncombe', '241798']
['2012', 'Buncombe', '244725']
['2013', 'Buncombe', '247951']
['2014', 'Buncombe', '250552']
['2015', 'Buncombe', '253775']
['2016', 'Buncombe', '257259']
['2017', 'Buncombe', '259082']
['2018', 'Buncombe', '261065']
['2019', 'Buncombe', '264056']
['Burke', '90575', '90203', '89619', '89151', '89151', '89321', '90123', '91077', '91402', '91810']
['2010', 'Burke', '90575']
['2011', 'Burke', '90203']
['2012', 'Burke', '89619']
['2013', 'Burke', '89151']
['2014', 'Burke', '89151']
['2015', 'Burke', '89321']
['2016', 'Burke', '90123']
['2017', 'Burke', '91077']
['2018', 'Burke', '91402']
['2019', 'Burke', '91810']
['Cabarrus', '178535', '180684', '183253', '186067', '190218', '194982', '200230', '204865', '209150', '212917']
['2010', 'Cabarrus', '178535']
['2011', 'Cabarrus', '180684']
['2012', 'Cabarrus', '183253']
['2013', 'Cabarrus', '186067']
['2014', 'Cabarrus', '190218']
['2015', 'Cabarrus', '194982']
['2016', 'Cabarrus', '200230']
['2017', 'Cabarrus', '204865']
['2018', 'Cabarrus', '209150']
['2019', 'Cabarrus', '212917']
['Caldwell', '83021', '82937', '82695', '82605', '82598', '82765', '83143', '83227', '83291', '83417']
['2010', 'Caldwell', '83021']
['2011', 'Caldwell', '82937']
['2012', 'Caldwell', '82695']
['2013', 'Caldwell', '82605']
['2014', 'Caldwell', '82598']
['2015', 'Caldwell', '82765']
['2016', 'Caldwell', '83143']
['2017', 'Caldwell', '83227']
['2018', 'Caldwell', '83291']
['2019', 'Caldwell', '83417']
['Camden', '10009', '10035', '9966', '10075', '10210', '10214', '10290', '10352', '10490', '10611']
['2010', 'Camden', '10009']
['2011', 'Camden', '10035']
['2012', 'Camden', '9966']
['2013', 'Camden', '10075']
['2014', 'Camden', '10210']
['2015', 'Camden', '10214']
['2016', 'Camden', '10290']
['2017', 'Camden', '10352']
['2018', 'Camden', '10490']
['2019', 'Camden', '10611']
['Carteret', '66698', '67681', '68434', '69235', '69497', '69742', '69871', '70247', '70696', '71163']
['2010', 'Carteret', '66698']
['2011', 'Carteret', '67681']
['2012', 'Carteret', '68434']
['2013', 'Carteret', '69235']
['2014', 'Carteret', '69497']
['2015', 'Carteret', '69742']
['2016', 'Carteret', '69871']
['2017', 'Carteret', '70247']
['2018', 'Carteret', '70696']
['2019', 'Carteret', '71163']
['Caswell', '23753', '23723', '23487', '23688', '23482', '23491', '23527', '23480', '23679', '23664']
['2010', 'Caswell', '23753']
['2011', 'Caswell', '23723']
['2012', 'Caswell', '23487']
['2013', 'Caswell', '23688']
['2014', 'Caswell', '23482']
['2015', 'Caswell', '23491']
['2016', 'Caswell', '23527']
['2017', 'Caswell', '23480']
['2018', 'Caswell', '23679']
['2019', 'Caswell', '23664']
['Catawba', '154766', '155038', '155692', '155582', '155977', '156197', '156774', '157424', '158483', '159494']
['2010', 'Catawba', '154766']
['2011', 'Catawba', '155038']
['2012', 'Catawba', '155692']
['2013', 'Catawba', '155582']
['2014', 'Catawba', '155977']
['2015', 'Catawba', '156197']
['2016', 'Catawba', '156774']
['2017', 'Catawba', '157424']
['2018', 'Catawba', '158483']
['2019', 'Catawba', '159494']
['Chatham', '63840', '64396', '65152', '66117', '67373', '69228', '70746', '72570', '74264', '75994']
['2010', 'Chatham', '63840']
['2011', 'Chatham', '64396']
['2012', 'Chatham', '65152']
['2013', 'Chatham', '66117']
['2014', 'Chatham', '67373']
['2015', 'Chatham', '69228']
['2016', 'Chatham', '70746']
['2017', 'Chatham', '72570']
['2018', 'Chatham', '74264']
['2019', 'Chatham', '75994']
['Cherokee', '27431', '27468', '27414', '27443', '27517', '27729', '28544', '28879', '29275', '29630']
['2010', 'Cherokee', '27431']
['2011', 'Cherokee', '27468']
['2012', 'Cherokee', '27414']
['2013', 'Cherokee', '27443']
['2014', 'Cherokee', '27517']
['2015', 'Cherokee', '27729']
['2016', 'Cherokee', '28544']
['2017', 'Cherokee', '28879']
['2018', 'Cherokee', '29275']
['2019', 'Cherokee', '29630']
['Chowan', '14737', '14822', '14689', '14770', '14572', '14431', '14278', '14204', '14173', '14114']
['2010', 'Chowan', '14737']
['2011', 'Chowan', '14822']
['2012', 'Chowan', '14689']
['2013', 'Chowan', '14770']
['2014', 'Chowan', '14572']
['2015', 'Chowan', '14431']
['2016', 'Chowan', '14278']
['2017', 'Chowan', '14204']
['2018', 'Chowan', '14173']
['2019', 'Chowan', '14114']
['Clay', '10607', '10699', '10709', '10831', '10830', '10969', '11200', '11457', '11658', '11860']
['2010', 'Clay', '10607']
['2011', 'Clay', '10699']
['2012', 'Clay', '10709']
['2013', 'Clay', '10831']
['2014', 'Clay', '10830']
['2015', 'Clay', '10969']
['2016', 'Clay', '11200']
['2017', 'Clay', '11457']
['2018', 'Clay', '11658']
['2019', 'Clay', '11860']
['Cleveland', '97919', '97706', '97523', '97246', '97646', '97755', '98069', '98393', '99140', '99776']
['2010', 'Cleveland', '97919']
['2011', 'Cleveland', '97706']
['2012', 'Cleveland', '97523']
['2013', 'Cleveland', '97246']
['2014', 'Cleveland', '97646']
['2015', 'Cleveland', '97755']
['2016', 'Cleveland', '98069']
['2017', 'Cleveland', '98393']
['2018', 'Cleveland', '99140']
['2019', 'Cleveland', '99776']
['Columbus', '57975', '58019', '57989', '57726', '57504', '57188', '56842', '56699', '56424', '56290']
['2010', 'Columbus', '57975']
['2011', 'Columbus', '58019']
['2012', 'Columbus', '57989']
['2013', 'Columbus', '57726']
['2014', 'Columbus', '57504']
['2015', 'Columbus', '57188']
['2016', 'Columbus', '56842']
['2017', 'Columbus', '56699']
['2018', 'Columbus', '56424']
['2019', 'Columbus', '56290']
['Craven', '104176', '104523', '105170', '104213', '104069', '103111', '103184', '103426', '103594', '103779']
['2010', 'Craven', '104176']
['2011', 'Craven', '104523']
['2012', 'Craven', '105170']
['2013', 'Craven', '104213']
['2014', 'Craven', '104069']
['2015', 'Craven', '103111']
['2016', 'Craven', '103184']
['2017', 'Craven', '103426']
['2018', 'Craven', '103594']
['2019', 'Craven', '103779']
['Cumberland', '327195', '330874', '330007', '332224', '329360', '329046', '330048', '328529', '331764', '332455']
['2010', 'Cumberland', '327195']
['2011', 'Cumberland', '330874']
['2012', 'Cumberland', '330007']
['2013', 'Cumberland', '332224']
['2014', 'Cumberland', '329360']
['2015', 'Cumberland', '329046']
['2016', 'Cumberland', '330048']
['2017', 'Cumberland', '328529']
['2018', 'Cumberland', '331764']
['2019', 'Cumberland', '332455']
['Currituck', '23674', '23973', '24118', '24414', '24986', '25538', '26022', '26673', '27099', '27526']
['2010', 'Currituck', '23674']
['2011', 'Currituck', '23973']
['2012', 'Currituck', '24118']
['2013', 'Currituck', '24414']
['2014', 'Currituck', '24986']
['2015', 'Currituck', '25538']
['2016', 'Currituck', '26022']
['2017', 'Currituck', '26673']
['2018', 'Currituck', '27099']
['2019', 'Currituck', '27526']
['Dare', '33982', '34256', '34759', '35136', '35377', '35756', '36167', '36680', '36997', '37290']
['2010', 'Dare', '33982']
['2011', 'Dare', '34256']
['2012', 'Dare', '34759']
['2013', 'Dare', '35136']
['2014', 'Dare', '35377']
['2015', 'Dare', '35756']
['2016', 'Dare', '36167']
['2017', 'Dare', '36680']
['2018', 'Dare', '36997']
['2019', 'Dare', '37290']
['Davidson', '162861', '163044', '162994', '163498', '163869', '164418', '165613', '166591', '168093', '169468']
['2010', 'Davidson', '162861']
['2011', 'Davidson', '163044']
['2012', 'Davidson', '162994']
['2013', 'Davidson', '163498']
['2014', 'Davidson', '163869']
['2015', 'Davidson', '164418']
['2016', 'Davidson', '165613']
['2017', 'Davidson', '166591']
['2018', 'Davidson', '168093']
['2019', 'Davidson', '169468']
['Davie', '41255', '41276', '41276', '41403', '41345', '41625', '42142', '42635', '42976', '43430']
['2010', 'Davie', '41255']
['2011', 'Davie', '41276']
['2012', 'Davie', '41276']
['2013', 'Davie', '41403']
['2014', 'Davie', '41345']
['2015', 'Davie', '41625']
['2016', 'Davie', '42142']
['2017', 'Davie', '42635']
['2018', 'Davie', '42976']
['2019', 'Davie', '43430']
['Duplin', '58650', '59355', '59690', '59807', '59911', '59769', '59837', '59647', '59772', '59736']
['2010', 'Duplin', '58650']
['2011', 'Duplin', '59355']
['2012', 'Duplin', '59690']
['2013', 'Duplin', '59807']
['2014', 'Duplin', '59911']
['2015', 'Duplin', '59769']
['2016', 'Duplin', '59837']
['2017', 'Duplin', '59647']
['2018', 'Duplin', '59772']
['2019', 'Duplin', '59736']
['Durham', '271354', '275977', '281509', '286383', '292305', '296917', '302879', '306465', '311163', '315741']
['2010', 'Durham', '271354']
['2011', 'Durham', '275977']
['2012', 'Durham', '281509']
['2013', 'Durham', '286383']
['2014', 'Durham', '292305']
['2015', 'Durham', '296917']
['2016', 'Durham', '302879']
['2017', 'Durham', '306465']
['2018', 'Durham', '311163']
['2019', 'Durham', '315741']
['Edgecombe', '56626', '56213', '55975', '55545', '55332', '54268', '53458', '53159', '52724', '52586']
['2010', 'Edgecombe', '56626']
['2011', 'Edgecombe', '56213']
['2012', 'Edgecombe', '55975']
['2013', 'Edgecombe', '55545']
['2014', 'Edgecombe', '55332']
['2015', 'Edgecombe', '54268']
['2016', 'Edgecombe', '53458']
['2017', 'Edgecombe', '53159']
['2018', 'Edgecombe', '52724']
['2019', 'Edgecombe', '52586']
['Forsyth', '351393', '354384', '357490', '359892', '363212', '365378', '369029', '372845', '376309', '379693']
['2010', 'Forsyth', '351393']
['2011', 'Forsyth', '354384']
['2012', 'Forsyth', '357490']
['2013', 'Forsyth', '359892']
['2014', 'Forsyth', '363212']
['2015', 'Forsyth', '365378']
['2016', 'Forsyth', '369029']
['2017', 'Forsyth', '372845']
['2018', 'Forsyth', '376309']
['2019', 'Forsyth', '379693']
['Franklin', '60818', '60861', '61618', '62473', '63104', '64069', '65260', '66577', '68012', '69112']
['2010', 'Franklin', '60818']
['2011', 'Franklin', '60861']
['2012', 'Franklin', '61618']
['2013', 'Franklin', '62473']
['2014', 'Franklin', '63104']
['2015', 'Franklin', '64069']
['2016', 'Franklin', '65260']
['2017', 'Franklin', '66577']
['2018', 'Franklin', '68012']
['2019', 'Franklin', '69112']
['Gaston', '206105', '207339', '208317', '209364', '210195', '212197', '215269', '218445', '221006', '222744']
['2010', 'Gaston', '206105']
['2011', 'Gaston', '207339']
['2012', 'Gaston', '208317']
['2013', 'Gaston', '209364']
['2014', 'Gaston', '210195']
['2015', 'Gaston', '212197']
['2016', 'Gaston', '215269']
['2017', 'Gaston', '218445']
['2018', 'Gaston', '221006']
['2019', 'Gaston', '222744']
['Gates', '12165', '12045', '12104', '11882', '11943', '11819', '11984', '12021', '12094', '12132']
['2010', 'Gates', '12165']
['2011', 'Gates', '12045']
['2012', 'Gates', '12104']
['2013', 'Gates', '11882']
['2014', 'Gates', '11943']
['2015', 'Gates', '11819']
['2016', 'Gates', '11984']
['2017', 'Gates', '12021']
['2018', 'Gates', '12094']
['2019', 'Gates', '12132']
['Graham', '8870', '8858', '8862', '8860', '8820', '8751', '8830', '8752', '8686', '8687']
['2010', 'Graham', '8870']
['2011', 'Graham', '8858']
['2012', 'Graham', '8862']
['2013', 'Graham', '8860']
['2014', 'Graham', '8820']
['2015', 'Graham', '8751']
['2016', 'Graham', '8830']
['2017', 'Graham', '8752']
['2018', 'Graham', '8686']
['2019', 'Graham', '8687']
['Granville', '57665', '57730', '57686', '57564', '57819', '58226', '59048', '60112', '60700', '61406']
['2010', 'Granville', '57665']
['2011', 'Granville', '57730']
['2012', 'Granville', '57686']
['2013', 'Granville', '57564']
['2014', 'Granville', '57819']
['2015', 'Granville', '58226']
['2016', 'Granville', '59048']
['2017', 'Granville', '60112']
['2018', 'Granville', '60700']
['2019', 'Granville', '61406']
['Greene', '21259', '21515', '21239', '20960', '21101', '21016', '21274', '21305', '21024', '21050']
['2010', 'Greene', '21259']
['2011', 'Greene', '21515']
['2012', 'Greene', '21239']
['2013', 'Greene', '20960']
['2014', 'Greene', '21101']
['2015', 'Greene', '21016']
['2016', 'Greene', '21274']
['2017', 'Greene', '21305']
['2018', 'Greene', '21024']
['2019', 'Greene', '21050']
['Guilford', '489589', '495082', '501431', '507000', '511636', '516493', '523934', '528041', '534346', '539666']
['2010', 'Guilford', '489589']
['2011', 'Guilford', '495082']
['2012', 'Guilford', '501431']
['2013', 'Guilford', '507000']
['2014', 'Guilford', '511636']
['2015', 'Guilford', '516493']
['2016', 'Guilford', '523934']
['2017', 'Guilford', '528041']
['2018', 'Guilford', '534346']
['2019', 'Guilford', '539666']
['Halifax', '54474', '54257', '53977', '53447', '52905', '52212', '52116', '51973', '51552', '51194']
['2010', 'Halifax', '54474']
['2011', 'Halifax', '54257']
['2012', 'Halifax', '53977']
['2013', 'Halifax', '53447']
['2014', 'Halifax', '52905']
['2015', 'Halifax', '52212']
['2016', 'Halifax', '52116']
['2017', 'Halifax', '51973']
['2018', 'Halifax', '51552']
['2019', 'Halifax', '51194']
['Harnett', '115742', '118597', '121317', '123428', '125600', '127038', '129434', '131042', '133172', '135239']
['2010', 'Harnett', '115742']
['2011', 'Harnett', '118597']
['2012', 'Harnett', '121317']
['2013', 'Harnett', '123428']
['2014', 'Harnett', '125600']
['2015', 'Harnett', '127038']
['2016', 'Harnett', '129434']
['2017', 'Harnett', '131042']
['2018', 'Harnett', '133172']
['2019', 'Harnett', '135239']
['Haywood', '58935', '59165', '59150', '59545', '59810', '60451', '61534', '62488', '62839', '63328']
['2010', 'Haywood', '58935']
['2011', 'Haywood', '59165']
['2012', 'Haywood', '59150']
['2013', 'Haywood', '59545']
['2014', 'Haywood', '59810']
['2015', 'Haywood', '60451']
['2016', 'Haywood', '61534']
['2017', 'Haywood', '62488']
['2018', 'Haywood', '62839']
['2019', 'Haywood', '63328']
['Henderson', '106887', '107244', '107740', '108752', '110485', '111854', '113889', '115384', '116857', '118312']
['2010', 'Henderson', '106887']
['2011', 'Henderson', '107244']
['2012', 'Henderson', '107740']
['2013', 'Henderson', '108752']
['2014', 'Henderson', '110485']
['2015', 'Henderson', '111854']
['2016', 'Henderson', '113889']
['2017', 'Henderson', '115384']
['2018', 'Henderson', '116857']
['2019', 'Henderson', '118312']
['Hertford', '24763', '24743', '24548', '24623', '24591', '24508', '24238', '24054', '24093', '24037']
['2010', 'Hertford', '24763']
['2011', 'Hertford', '24743']
['2012', 'Hertford', '24548']
['2013', 'Hertford', '24623']
['2014', 'Hertford', '24591']
['2015', 'Hertford', '24508']
['2016', 'Hertford', '24238']
['2017', 'Hertford', '24054']
['2018', 'Hertford', '24093']
['2019', 'Hertford', '24037']
['Hoke', '47496', '49142', '50000', '50581', '50813', '51735', '52138', '53331', '53992', '54842']
['2010', 'Hoke', '47496']
['2011', 'Hoke', '49142']
['2012', 'Hoke', '50000']
['2013', 'Hoke', '50581']
['2014', 'Hoke', '50813']
['2015', 'Hoke', '51735']
['2016', 'Hoke', '52138']
['2017', 'Hoke', '53331']
['2018', 'Hoke', '53992']
['2019', 'Hoke', '54842']
['Hyde', '5811', '5799', '5708', '5745', '5670', '5571', '5570', '5442', '5198', '5181']
['2010', 'Hyde', '5811']
['2011', 'Hyde', '5799']
['2012', 'Hyde', '5708']
['2013', 'Hyde', '5745']
['2014', 'Hyde', '5670']
['2015', 'Hyde', '5571']
['2016', 'Hyde', '5570']
['2017', 'Hyde', '5442']
['2018', 'Hyde', '5198']
['2019', 'Hyde', '5181']
['Iredell', '159768', '160988', '162819', '164834', '166862', '169776', '173088', '176089', '178730', '181380']
['2010', 'Iredell', '159768']
['2011', 'Iredell', '160988']
['2012', 'Iredell', '162819']
['2013', 'Iredell', '164834']
['2014', 'Iredell', '166862']
['2015', 'Iredell', '169776']
['2016', 'Iredell', '173088']
['2017', 'Iredell', '176089']
['2018', 'Iredell', '178730']
['2019', 'Iredell', '181380']
['Jackson', '40357', '40383', '40706', '40826', '41131', '41590', '43003', '43544', '43819', '44335']
['2010', 'Jackson', '40357']
['2011', 'Jackson', '40383']
['2012', 'Jackson', '40706']
['2013', 'Jackson', '40826']
['2014', 'Jackson', '41131']
['2015', 'Jackson', '41590']
['2016', 'Jackson', '43003']
['2017', 'Jackson', '43544']
['2018', 'Jackson', '43819']
['2019', 'Jackson', '44335']
['Johnston', '169681', '172109', '174207', '176620', '179734', '183619', '188749', '193902', '199790', '205951']
['2010', 'Johnston', '169681']
['2011', 'Johnston', '172109']